[submodule "libs/simplist"]
	path = libs/simplist
	url = https://github.com/MbarkErras/simplist.git
[submodule "libs/centropy"]
	path = libs/centropy
	url = https://github.com/MbarkErras/centropy.git
